/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
public/.htaccess2
upasystem2.sublime-workspace
upasystem2.sublime-project
app/config/app.php
/app/config/database.php
app/config/database.php
